@import '../../utils/css/variables.css';

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "center right";
    background-color: var(--ebooker-main);
    height: 5vh;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
    z-index: 999;
}

.logo{
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    position: absolute;
    margin: 10px;
    margin-left: 5.5%;
}

@media(max-width: 875px){
    .logo{
        height: 60px;
        width: 60px;
        margin-left: 4%;
    }
}

.search-bar{
    border-radius: 5px;
    border:none;
    height: 3vh;
    width: 60vw;
    margin-left: 40%;
    margin-top: 7px;
    text-align: center;
}

.shop-cart{
    grid-area: right;
    margin-top: 5px;
    margin-left: 80%;
}