@import '../../utils/css/variables.css';

.card{
    display: grid;
    margin-top: 15px;
    background-color: rebeccapurple;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
    color: #FFFF;
    font-weight: bold;
    text-transform: uppercase;
    text-align: justify;
    transition: transform .5s;
}

.card:hover{
    transform: scale(1.1); 
    cursor: pointer;
}

.card-img{
    max-width: 100%;
    max-height: 100% !important;
    display: block; 
}


.card-content{
    border-radius: 0px 0px 10px 10px;
    padding-left: 10%;
}

@media(max-width: 875px){
    .card{
        width: 35vw;
    }
}

.item-detail{
    background-color: #df3333;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 90%;
    margin-left: 0px;
    margin-bottom: 10px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background 0.6s;
}
.item-detail:hover{
    background-color: var(--ebooker-secundary);
}